.glaccount-container input.form-control,
.glaccount-container select.form-control,
.glaccount-container label,
.glaccount-container span {
    font-size: .8em;
    margin: 0;
    height: 25px !important;
    line-height: 25px;
    width: 100%;
}

.glaccount-container .section-not-title {
    display: block;
}

#isConfidential, #isConfidentialSpan {
    margin-top: -10px;
}

.mt-4 {
    margin-top: 1.8rem !important;
}

.treeview-container {
    width: 40vw !important;
    background: #fcfaf4;
    height: 80vh;
    overflow: auto;
}

.glaccount-container .v-menu-box {
    margin-top: 0px;
    width: 150px !important;
    border-radius: 3px;
    background: #fcfaf4 !important;
}

.glaccount-container .v-menu-box .menu-group {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background: #fcfaf4 !important;
}

.glaccount-container .v-menu-box .menu-group .menu-item {
    width: 100%;
    padding: 0 5px;
    cursor: pointer;
}

.glaccount-container .v-menu-box .menu-group .menu-item .item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #beeffe;
    height: 60px !important;
    line-height: 1.25;
    margin: 5px 0;
    word-break: break-word;
    text-align: center;
    color: black;
    width: 100%;
    border-radius: 3px;
}

.glaccount-container .v-menu-box .menu-group .menu-item .item-title.active,
.active {
    background-color: #f2e8c5;
    border-radius: 3px;
}

.text__primary {
    color: rgb(90, 186, 192) !important;
}

.glaccount-container.flexbox > :first-child {
    min-width: 225px;
    width: 50%;
}

.glaccount-container.flexbox > :nth-child(2) {
    width: 60%;
    margin: 0;
}

.glaccount-container.flexbox > :last-child {
    width: 20%;
    min-width: 100px;
}

.treeview-container .treeview.root {
    padding: 0 5px;
    border: none;
}

.treeview-container .treeview {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #f2e8c5;
}

.treeview-container .treeview .item {
    position: relative;
    background-color: #f2e8c5;
    border-radius: 3px;
    margin: 1.5px 0;
    padding: 0 5px;
    cursor: pointer;
}

.treeview-container .treeview .item .title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.treeview-container .treeview .item.active {
    background-color: #f2e8c5;
    color: black;
}
.hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.font-size {
    font-size: 13px;
}

.fs-1 {
    padding-right: 6px;
}

.active {
    background-color: #f2e8c5;
    border-radius: 3px;
}

.form-group {
    margin: 5px 0 !important;
}
.mll_2{
    margin: 5px 0px 0px -16px;
    z-index: 50;
}
.fm-1 {
    padding-left: 7px;
}