fieldset.scheduler-border {
    border: 2px groove #e6ffe6;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 10px 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #00cc00;
}

fieldset.scheduler-borders {
    border: 2px groove #e6ffe6;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 10px 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #00cc00;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

.content_vendor, .content_exchange, .content_remark, .content_total, .content_reff_no, .content_user, .content_localcurrency, .content_ap, .content_postingdate, .content_documentdate {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    width: 60%;
    height: 30px;
    font-family: Arial;
    font-size: 13px;
    border-radius: 3px;
}

    .content_vendor:focus, .content_total:focus, .content_remark:focus, .content_exchange:focus, .content_reff_no:focus, .content_user:focus, .content_localcurrency:focus, .content_ap:focus, .content_postingdate:focus, .content_documentdate:focus {
        border: 1px solid rgba(77, 142, 245,1);
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 13px;
    }

.label_vendor, .lable_total, .label_exchange, .label_remark, .label_reff_no, .label_user, .label_ap, .label_postingdate, .label_documentdate {
    min-width: 30%;
    width: 30%;
}

.btnadd {
    margin-top: 20px;
}

.content_CashDiscount, .content_totaldiscout, .content_toatalpay, .content_toatalcash {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 30px;
    font-family: Arial;
    font-size: 13px;
    border-radius: 3px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin: 0 0.4em 0.4em 0;
    outline: none;
    box-shadow: 0px 0px 3px rgba(105, 107, 228, 0.3);
    background: rgba(144, 232, 115, 0.4);
    margin-left: 30px;
}

.wrap-table table td {
    min-width: 120px;
}

.divcontent {
    justify-content: space-between;
    display: flex;
}

.content_currency {
    margin-right: 10px;
}

.content_toatalpay {
    min-width: 100px;
}

.wrap-table table th {
    background: #f2e8c5;
    color: black;
    min-width: 100px;
}

.dialog-box .footer {
    padding: 0;
}

.wrap-table {
    min-height: 200px;
}

.Active {
    background-color: rgb(199, 199, 199);
}
.reload {
    margin-top: -350px;
}
#list-payment-means tr td{
    text-align: center;
}
