.wrap-scale {
    position: absolute;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
    text-align: center;
    color: #FFF;
    padding: .15rem;
    font-family: 'Courier New', Courier, monospace;
    z-index: inherit;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
     -webkit-box-pack: center;
        -ms-flex-pack: center;
         justify-content: center;
}

.wrap-scale.active {
    border: 1px solid #FFF;
}

.wrap-scale > * {
    -webkit-user-select: none; /* Chrome/Safari */        
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
            user-select: none;
}

.wrap-scale.show {
    -webkit-transform: scaleY(1); 
        -ms-transform: scaleY(1); 
            transform: scaleY(1); 
}

.wrap-scale .scale-down {
    position: absolute;
    color: #F5050F;
    background: rgba(255, 255, 255, .8);
    right: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
    cursor: pointer;
    width: 60%;
    font-style: normal;
    border-top-left-radius: 75%;
    border-bottom-left-radius: 75%;
    visibility: collapse;
    z-index: inherit;
    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}

.wrap-scale .scale-up{
    position: absolute;
    color: #070EF5;
    left: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, .8);
    cursor: pointer;
    width: 60%;
    font-style: normal;
    border-top-right-radius: 75%;
    border-bottom-right-radius: 75%;
    visibility: collapse;
    z-index: inherit;
    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}

@media(max-width: 768px){
    .wrap-scale .scale-down, .wrap-scale .scale-up {
        cursor: default;
    }
}