$viewport-m: 32rem !default;
$viewport-l: 48rem !default;

$font-size: 15px !default;
$font-size-m: 15px !default;
$font-size-l: 16px !default;
$font-weight: 400 !default;
$font-color: #333 !default;

$font-family: "Roboto", sans-serif, Khmer !default;
$monospace-font-family: "Monaco" !default;

$measure-width: 1200px !default;
$gainsboro : #ABC;
$green: #069F69;
$light-green: #569F7F;
$yellow: #F1C40F;
$gold: #AD9447;
$orange: #d58016;
$pink: #DC069C;
$dark-pink: #A05588;
$blue: #0000FF;
$cadeblue: #5F9EA0;
$sky: #5588C0;
$purple: #9B59B6;
$dark-purple: #505880;
$red: #f5050F;
$grey: #789;
$gray: #CCC;
$light-gray: #F1F2F3;
$dark-gray: #626567;
$navy: #34495E;
$white: #FFF;
$black: #333;
$mint: #00BEB3;
$bluewood: #2C3E50;
$success: #50A775;
$danger: #EF3C3C;
$info: #5588C0;