
<!DOCTYPE html>
<html>
    <head>
        <title>KHMER EDI</title>
        <link rel="icon" href="~/Images/icon/logo.png" type="image/gif"
            sizes="16x16">
        <meta name="viewport" charset="utf-8" lang="en-us"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
            />
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
        <link href="~/AdminLayout/bundle/admin/_admin.css" rel="stylesheet" />
        <link href="~/AdminLayout/bundle/control.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        <div class="ck-widget-container">
            <nav class="widget-header" style="-webkit-box-pack: end;
                -ms-flex-pack: end; justify-content: flex-end;">
                <div class="header-content">
                    <div class="nav-item">
                    @{
                        await Html.RenderPartialAsync("_ChangeLanguage");
                    }
                    </div>
                </div>
            </nav>
            <div class="widget-body">
            @RenderBody()
            </div>
        </div>
        <script src="~/AdminLayout/bundle/ViewMessage.js"></script>
    </body>
</html>
