
<div class="widget-tab stretch">
    <div id="form-customer-count" class="wrap-block col-two">
        <div class="left-block">
            <div class="stack-block">
                <label>@Localizer["Male"]</label>
                <input class="male-count" type="number"/>
            </div>
            <div class="stack-block">
                <label>@Localizer["Children"]</label>
                <input class="children-count" type="number"/>
            </div>
        </div>
        <div class="right-block">
            <div class="stack-block">
                <label>@Localizer["Female"]</label>
                <input class="female-count" type="number"/>
            </div>
        </div>
    </div>
</div>