<div id="serials-item-dailog" style="height: 430px; display: none;">
    <div class="widget-scrollbar">
        <table id="list-serials-item">
            <thead>
                <tr>
                    <th>@Localizer["No"]</th>
                    <th>@Localizer["Item Name"]</th>
                    <th>@Localizer["Serial Number"]</th>
                </tr>
            </thead>
        </table>
    </div>
</div>