<div id="form-card-manual-discount" class="text-center" hidden style="overflow: auto; width: 400px">
    <div class="stack-block">
        <label>Card Number</label>
        <input id="card-number-discount" autocomplete="off" class="width-full" type="text">
    </div>
    <div class="manual-card-discount-message"></div>
</div>

<div id="form-scan-card-discount" class="text-center widget-scrollbar" hidden style="overflow: auto">
    <div>
        <input id="scan-card-number-discount" class="width-full" style="opacity: 0; width: 0 !important; height: 0;" />
        <img id="token-radar" src="~/Images/icon/credit-card-icon.png" style="width: 100%; height: 100%; margin-left: 0%; align-items: center" />
        <div class="scan-card-message-discount" style="position: absolute; z-index: 1;"></div>
    </div>
    <div class="manual-card-discount-message"></div>
</div>
