<div id="error-summary"></div>
<input type="text" class="mt-2 form-control reason" style="width: 85%;">
<a id="btn_addvoidreson" class="btn btn-kernel btn-sm mt-2" style="height:
    29px;line-height: 30px;">Add</a>
<a id="btn_updatevoidreson" style="visibility: hidden" class="btn
    btn-sm mt-2"
    style="height:
    29px;line-height: 30px;">Update</a>
<a id="btn_addnewvoidreson" style="visibility: hidden" class="btn
    btn-sm mt-2"
    style="height:
    29px;line-height: 30px;">Add New</a>
<div id="error-summary"></div>
@* //=====================VoidReason================================= *@

<table id="void-reasons" class="mt-3">
    <tr>
        <th>@Localizer["No"]</th>
        <th>@Localizer["Reason"]</th>
        <th>@Localizer["Action"]</th>
    </tr>
</table>
<input hidden class="idreason" value="0">