
<div id="shift-form-content" class="wrap-block widget-default-scrollbar size-auto" style="display: none; width: 500px;">
    <fieldset class="shadow">
        <legend class="title">@Localizer["Currency"]</legend>
        <div class="wrap-table">
            <table class="cash-box"></table>
        </div>

        <table>
            <tr>
                <td style="width: 1%;">@Localizer["Total:"]</td>
                <td class="total-cash">0.00</td>
            </tr>
            <tr class="wrap-grand-total">
                <td style="width: 1%;">@Localizer["Grand Total:"]</td>
                <td class="grand-total">0.00</td>
            </tr>
        </table>
    </fieldset>
</div>