@{
    ViewData["Title"] = "Customer Consignment Report";
}
<head>
    <link href="~/Admin/DevReport/css/DevReport.css" rel="stylesheet" />
</head>

<body class="dx-viewport">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-2">
                <label class="lable_user">@Localizer["Customer Name"] </label>
                <select type="text" class="input_user" id="bycus">
                    <option value="0">All</option>
                </select>
            </div>
              <div class="col-md-2">
                <label class="lable_user">@Localizer["WareHouse"] </label>
                <select type="text" class="input_user" id="warehouse"></select>
            </div>
            <div class="col-md-4 ">
                <button class="btn btn-xs btn-kernel" id="filter">@Localizer["Filter"]</button>
                @*<button class="btn btn-xs btn-primary" id="preview">@Localizer["Preview"]</button>*@
            </div>

        </div>

        <div id="gridContainer"></div>
        <div class="options">
            <div class="option">
                <div id="autoExpand"></div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        filterData();

    $.ajax({
        url: "/DevReport/GetCustomer",
        type: "Get",
        dataType: "Json",
        success: function (respones) {
        var data = "";
        $.each(respones, function (i, item) {
            data += '<option value="' + item.ID + '">' + item.Name + "</option>";
        });
        $("#bycus").append(data);
        },
    });

    $.ajax({
        url: "/DevReport/GetWarehouseStock",
        type: "Get",
        dataType: "Json",
        success: function (respones) {
        var data = "";
        $.each(respones, function (i, item) {
            data += '<option value="' + item.ID + '">' + item.Name + "</option>";
        });
        $("#warehouse").append(data);
        },
    });
        
        $('#filter').click(function () {
            filterData(this);
        });

        function filterData(button) {
            let btn_filter = $(button).children("i.fa-search");
            var customerid = $("#bycus").val();
            var warehouseid = $("#warehouse").val();
            $.ajax({
                url: "/DevReport/CusConsignmentDetails",
                type: 'GET',
                dataType: 'JSON',
                data: {
                    CustomerID: customerid,
                    WarehouseID: warehouseid
                },
                beforeSend: function () {
                    btn_filter.addClass("fa-spinner fa-spin");
                },
                success: function (reponse) {
                    bindGrid(reponse);
                    btn_filter.removeClass("fa-spinner fa-spin");
                }
            });
        }

        function bindGrid(reponse) {
            var dataGrid = $("#gridContainer").dxDataGrid({
                dataSource: reponse,
                allowColumnReordering: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnResizing: true,
                columnResizingMode: "nextColumn",
                columnMinWidth: 50,
                columnAutoWidth: true,
                scrolling: {
                    columnRenderingMode: "virtual"
                },
                grouping: {
                    autoExpandAll: false,
                },
                searchPanel: {
                    visible: true
                },
                filterRow: {
                    visible: false,
                    applyFilter: "auto"
                },

                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20, 50, 100],
                    showInfo: true
                },
                loadPanel: {
                    enabled: true
                },
                groupPanel: {
                    visible: false
                },

                columns: [
                    {
                        dataField: "Customer",
                        caption:"Name",
                        groupIndex: 0
                    },
                    {
                        dataField: "Code",
                        caption: "Code",
                        alignment: "center"
                    },
                    {
                        dataField: "ItemName",
                        caption: "Item Name",
                    },
                    {
                        caption: "Expire Date",
                        dataField: "Expire",
                    },
                    {
                        caption: "Uom",
                        dataField: "Uom"
                    },
                    {
                        caption: "Qty",
                        dataField: "Qty",
                        alignment: "left"
                    },
                    {
                        caption: "Status",
                        dataField: "Status",
                    },
                ],

                summary: {
                    groupItems: [
                        @* {
                            showInColumn: "Total",
                            column: "MSubTotal",
                            summaryType: "max",
                            //valueFormat: "currency",
                            displayFormat: "Sub-Total :{0}",
                            showInGroupFooter: true,
                            alignByColumn: true
                        } *@
                    ],
                   
                },
                export: {
                    enabled: true
                },
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('detail-sale-report');

                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet: worksheet,
                        topLeftCell: { row: 4, column: 1 }
                    }).then(function (dataGridRange) {
                        // header
                        var headerRow = worksheet.getRow(2);
                        headerRow.height = 30;
                        worksheet.mergeCells(2, 1, 2, 7);
                        headerRow.getCell(1).value = 'Detail Sale Report';
                        headerRow.getCell(1).font = { name: 'Segoe UI Light', size: 22 };
                        headerRow.getCell(1).alignment = { horizontal: 'center' };

                    }).then(function () {
                        // https://github.com/exceljs/exceljs#writing-xlsx
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'detail-sale-report.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "before",
                        template: function () {
                            return
                        }
                    },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                onClick: function () {
                                    dataGrid.refresh();
                                    filterData();
                                }
                            }
                        },
                        @* {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "fas fa-file-pdf",
                                onClick: function () {
                                    printPdf();
                                }
                            }
                        } *@
                    );
                }

            }).dxDataGrid("instance");
            $("#autoExpand").dxCheckBox({
                value: false,
                text: "Expand All Groups",
                onValueChanged: function (data) {
                    dataGrid.option("grouping.autoExpandAll", data.value);
                }
            });
        }
        @* function printPdf() {
            var datefrom = $("#datefrom").val();
            var dateto = $("#dateto").val();
            var branch = $("#bybranch").val();
            var user = $("#byuser").val();
            if (datefrom == "" || dateto == "") {
                $("#datefrom").css("border-color", "red");
                $("#dateto").css("border-color", "red");
                return;
            } else {
                $("#datefrom").css("border-color", "#DDDDDD");
                $("#dateto").css("border-color", "#DDDDDD");
                window.open("/DevPrint/PrintDetailSale?DateFrom=" + datefrom + "&DateTo=" + dateto + "&BranchID=" + branch + "&UserID=" + user + "", "_blank");
            }
        } *@
    })


</script>

