@{































































































































    ViewData["Title"] = "Stock In Warehouse Report";
}

<head>
    <link href="~/Admin/DevReport/css/DevReport.css" rel="stylesheet" />
</head>

<body class="dx-viewport">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-2">
                <label class="lable_branch">@Localizer["By Branch"]</label>
                <select type="text" class="input_branch" id="bybranch">
                    <option value="0"></option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="lable_user">@Localizer["Warehouse"] </label>
                <select type="text" class="input_user" id="bywhid">
                    <option value="0">All</option>
                </select>
            </div>
            <div class="col-md-4 ">
                <button class="btn btn-xs btn-kernel" id="filter">@Localizer["Filter"]</button>
            </div>

        </div>
        <div id="gridContainer"></div>
        <div class="bottom-options">
            <div class="option">
                <div id="autoExpand"></div>
                <div class="item-check"><input type="checkbox" id="inActive" />Item
                    InActive</div>
            </div>
            @*<div class="option" id="itemInfo">
            <img class="itemPhoto item-image" />
            <div class="itemNotes item-image-subtitle"></div>
            </div>*@
        </div>
    </div>
</body>
<script>
    $(function () {
        filterData();
        //Get branch
        $.ajax({
            url: "/DevReport/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = '';
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
            }
        });
        $("#bybranch").on('change', function () {
            var branchid = $(this).val();
            // Get Employee
            $.ajax({
                url: "/DevReport/GetWarehouse",
                type: "Get",
                dataType: "Json",
                data: { BranchID: branchid },
                success: function (respones) {
                    var data = '';
                    $("#bywhid option:not(:first-child)").remove();
                    $.each(respones, function (i, item) {
                        data +=
                            '<option value="' + item.ID + '">' + item.Name + '</option>';
                    });
                    $("#bywhid").append(data);
                }
            })
        });
        $('#filter').click(function () {
            filterData(this);
        });
        function filterData(button) {
            let btn_filter = $(button).children("i.fa-search");
            var branch_id = $("#bybranch").val();
            var whid = $("#bywhid").val();
            var inactive = $("#inActive").prop("checked");

            $.ajax({
                url: "/DevReport/StockInWarehouseReport",
                type: 'GET',
                dataType: 'JSON',
                data: {
                    BranchID: branch_id,
                    WarehouseID: whid,
                    Inactive: inactive

                },
                beforeSend: function () {
                    btn_filter.addClass("fa-spinner fa-spin");
                },
                success: function (reponse) {
                    let totalcost = 0;
                    if (reponse.length > 0) {
                        reponse.forEach(i => {
                            totalcost += i.TotalCost;
                        });
                        reponse.forEach(i => {
                            i.TotalCost = totalcost;
                        });
                    }
                    bindGrid(reponse);
                    btn_filter.removeClass("fa-spinner fa-spin");
                }
            });
        }
        function bindGrid(reponse) {
            var dataGrid = $("#gridContainer").dxDataGrid({
                dataSource: reponse,
                allowColumnReordering: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnResizing: true,
                columnResizingMode: "nextColumn",
                columnMinWidth: 50,
                columnAutoWidth: true,
                hoverStateEnabled: true,
                selection: {
                    mode: "single"
                },
                scrolling: {
                    columnRenderingMode: "virtual"
                },
                grouping: {
                    autoExpandAll: false,
                },
                searchPanel: {
                    visible: true
                },
                filterRow: {
                    visible: false,
                    applyFilter: "auto"
                },
                headerFilter: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20, 50, 100],
                    showInfo: true
                },
                loadPanel: {
                    enabled: true
                },
                groupPanel: {
                    visible: false
                },

                columns: [
                    //{
                    //    dataField: "Image",
                    //    width: 100,
                    //    allowFiltering: false,
                    //    allowSorting: false,
                    //    cellTemplate: function (container, options) {
                    //        var path = '/Images/' + options.value;
                    //        $("<div>")
                    //            .append($("<img>", { "src": path}))
                    //            .appendTo(container);
                    //    }
                    //},
                    {
                        dataField: "Barcode",
                        //groupIndex: 0,
                        caption: "Barcode"
                    },
                    {
                        dataField: "Code",
                        //width: 350,
                        caption: "Code",
                    },
                    {
                        dataField: "KhmerName",
                        //width: 250,
                        caption: "Khmer Name",

                    },
                    {
                        caption: "English Name",
                        dataField: "EnglishName",
                    },
                    {
                        caption: "In Stock",
                        dataField: "StockIn",
                        alignment: "right",
                    },
                     {
                        caption: "Stock Pending",
                        dataField: "StockPending",
                        alignment: "right",
                    },
                    {
                        caption: "Committed",
                        dataField: "Committed",
                        alignment: "right",
                    },
                    {
                        caption: "Ordered",
                        dataField: "Ordered",
                        alignment: "right",
                    },
                    {
                        caption: "Uom",
                        dataField: "Uom",
                        alignment: "right"
                    },
                    {
                        caption: "Cumulative Amount",
                        dataField: "CumulativeValue",
                        alignment: "right",
                    },
                    {
                        caption: "Wh Code",
                        dataField: "WhCode",
                        alignment: "right",
                        groupIndex: 0,
                    }
                ],

                summary: {
                    groupItems: [
                        {
                            column: "ItemID",
                            summaryType: "count",
                            displayFormat: "{0} items",
                        }
                    ],
                    totalItems: [
                        {
                            showInColumn: "Barcode",
                            column: "ItemID",
                            summaryType: "count",
                            displayFormat: "Total : {0} items",
                            alignment: "left"
                        },
                        {
                            showInColumn: "EnglishName",
                            displayFormat: "SUM :",
                            alignment: "left"
                        },
                        {
                            showInColumn: "InStock",
                            column: "InStock",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            alignment: "left"
                        },
                        {
                            showInColumn: "Committed",
                            column: "StockCommit",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            alignment: "right"
                        },
                        {
                            showInColumn: "Ordered",
                            column: "Ordered",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            alignment: "right"
                        },
                        {
                            showInColumn: "CumulativeValue",
                            column: "TotalCost",
                            summaryType: "max",
                            displayFormat: "{0}",
                            alignment: "right"
                        }

                    ]

                },
                onSelectionChanged: function (selectedItems) {
                    var data = selectedItems.selectedRowsData[0];
                    if (data) {
                        var path = '/Images/' + data.Image;
                        $(".itemPhoto").attr("src", path);
                        $(".itemNotes").text(data.KhmerName);
                    }
                },
                export: {
                    enabled: true
                },
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('stockin-warehouse-report');

                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet: worksheet,
                        topLeftCell: { row: 4, column: 1 }
                    }).then(function (dataGridRange) {
                        // header
                        var headerRow = worksheet.getRow(2);
                        headerRow.height = 30;
                        worksheet.mergeCells(2, 1, 2, 8);
                        headerRow.getCell(1).value = 'Stock In Warehouse Report';
                        headerRow.getCell(1).font = { name: 'Segoe UI Light', size: 22 };
                        headerRow.getCell(1).alignment = { horizontal: 'center' };

                        // footer
                        //var footerRowIndex = dataGridRange.to.row + 2;
                        //var footerRow = worksheet.getRow(footerRowIndex);
                        //worksheet.mergeCells(footerRowIndex, 1, footerRowIndex, 8);
                        //footerRow.getCell(1).value = 'www.wikipedia.org';
                        //footerRow.getCell(1).font = { color: { argb: 'BFBFBF' }, italic: true };
                        //footerRow.getCell(1).alignment = { horizontal: 'right' };

                    }).then(function () {
                        // https://github.com/exceljs/exceljs#writing-xlsx
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'stockin-warehouse-report.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "before",
                        template: function () {
                            return
                        }
                    },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                onClick: function () {
                                    dataGrid.refresh();
                                    filterData();
                                }
                            }
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "fas fa-file-pdf",
                                onClick: function () {
                                    printPdf();
                                }
                            },
                            title: 'Export to PDF',
                        }
                    );
                }

            }).dxDataGrid("instance");
            $("#autoExpand").dxCheckBox({
                value: false,
                text: "Expand All Groups",
                onValueChanged: function (data) {
                    dataGrid.option("grouping.autoExpandAll", data.value);
                }
            });

        }
    })
    function printPdf() {
        var branch = $("#bybranch").val();
        var warehouse = $("#bywhid").val();
        if (branch == 0) {
            $("#bybranch").css("border-color", "red");
            return;
        } else {
            $("#bybranch").css("border-color", "#DDDDDD");
            window.open("/DevPrint/PrintStockinWareHouseinPdf?&BranchID=" + branch + "&WarehouseID=" + warehouse + "", "_blank");
        }
    };
</script>