<!--<div class="card card-body">
    <form>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>@Localizer["Code"]</label>
                    <input class="input-box-kernel" id="code" type="text" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>@Localizer["Name"]</label>
                    <input class="input-box-kernel" id="name" type="text" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>@Localizer["Category"]</label>
                    <select class="input-box-kernel" id="category" asp-items="Html.GetEnumSelectList<TypeTax>()">-->
                        @*<option value="0" selected>@Localizer["-- Select --"]</option>*@
                    <!--</select>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">

            </div>
        </div>
    </form>
</div>-->