<style>
    form input, form select, form textarea {
        display: block;
    }

    table tr td > * {
        width: 100%;
    } 
</style>
<form id="change-rate-content" class="wrap-table" style="display: none;">
    <table id="list-change-rate">
        <tr>
            <th>@Localizer["From Currency"]</th>
            <th>@Localizer["To Currency"]</th>
            <th>@Localizer["Rate"]</th>
        </tr>
    </table>
</form>