
<div id="shift-form-content" class="wrap-block widget-default-scrollbar" style="display: none; width: 450px;">
    <fieldset class="shadow">
        <legend class="title">@Localizer["Currency"]</legend>
        <div class="wrap-table">
            <table class="cash-box"></table>
        </div>
        <div class="stack-inline">
            <span style="margin-left: 5px;">@Localizer["Total Cash:"]</span>
            <span class="c-symbol"></span>
            <span class="total-cash">0.00</span>
        </div>
    </fieldset>
</div>