
.csr-alias {cursor: alias !important;}
.csr-all-scroll {cursor: all-scroll !important;}
.csr-auto {cursor: auto !important;}
.csr-cell {cursor: cell !important;}
.csr-context-menu {cursor: context-menu !important;}
.csr-col-resize {cursor: col-resize !important;}
.csr-copy {cursor: copy !important;}
.csr-crosshair {cursor: crosshair !important;}
.csr-default {cursor: default !important;}
.csr-e-resize {cursor: e-resize !important;}
.csr-ew-resize {cursor: ew-resize !important;}
.csr-grab {cursor: grab !important;}
.csr-grabbing {cursor: grabbing !important;}
.csr-help {cursor: help !important;}
.csr-move {cursor: move !important;}
.csr-n-resize {cursor: n-resize !important;}
.csr-ne-resize {cursor: ne-resize !important;}
.csr-nesw-resize {cursor: nesw-resize !important;}
.csr-ns-resize {cursor: ns-resize !important;}
.csr-nw-resize {cursor: nw-resize !important;}
.csr-nwse-resize {cursor: nwse-resize !important;}
.csr-no-drop {cursor: no-drop !important;}
.csr-none {cursor: none !important;}
.csr-not-allowed {cursor: not-allowed !important;}
.csr-pointer {cursor: pointer !important;}
.csr-progress {cursor: progress !important;}
.csr-row-resize {cursor: row-resize !important;}
.csr-s-resize {cursor: s-resize !important;}
.csr-se-resize {cursor: se-resize !important;}
.csr-sw-resize {cursor: sw-resize !important;}
.csr-text {cursor: text !important;}
.csr-url {cursor: url(myBall.cur),auto !important;}
.csr-w-resize {cursor: w-resize !important;}
.csr-wait {cursor: wait !important;}
.csr-zoom-in {cursor: zoom-in !important;}
.csr-zoom-out {cursor: zoom-out !important;}