
.widget-tab {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
    min-height: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.widget-tab.height-xs {
    height: 250px;
}

.widget-tab.height-sm {
    height: 450px;
}

.widget-tab.height-md {
    height: 650px;
}

.widget-tab.height-lg {
    height: 850px;
}


.widget-tab.tab-y {
    flex-flow: column wrap;
}

.widget-tab .tab-sheet {
    height: 100%;
}

.widget-tab > .tab-sheet > .tab-title {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: .9em !important;
    font-weight: normal !important;
    border-radius: 0px 7px 0 0;
    margin-right: 1px;
    cursor: pointer;
    background-color: #f2e8c5;
    color: black;
}

.widget-tab > .tab-sheet.active > .tab-title {
    background-color: #fcfaf4;
    color: black;
}

.widget-tab > .tab-sheet > .tab-content {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    padding: 15px;
    border-radius: 0 4px 4px 4px;
    overflow: auto;
    display: none;
    background-color: #fcfaf4;
}

/*.widget-tab .tab-sheet .tab-content * {
    position: relative;
}*/

.widget-tab > .tab-sheet.active > .tab-content {
    display: block;
    overflow: auto;
}

.widget-tab.tab-y > .tab-sheet > .tab-title {
    border-radius: 0;
    width: 150px;
}

.widget-tab.tab-y > .tab-sheet > .tab-content {
    top: 0;
    right: 0;
    left: auto;
    height: 100%;
    width: calc(100% - 150px);
}
