
<style>
    #pie, #pie2, #chart, #chart2, #chart3, #gauge {
        height: 330px;
        width: 100%;
        padding: 10px;
    }
    .gauge-result {
        position: absolute;
        left:46%;
        bottom: 20%;
    }
    /* .dx-viewport{
        display:block;
        position:relative;
    }*/
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }
    .option {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }
    .x{
        opacity:0;
    }
    .option > span {
        margin-right: 10px;
    }

    .option > .dx-widget {
        display: inline-block;
        vertical-align: middle;
    }
    .dx-export-menu{
        display:none !important;
    }
    .chart-titile-right {
        position: absolute;
        right: 40px;
        top: 40px;
        font-size: .7rem;
    }
    #chart-demo{
        position:relative !important;
    }
    .chart-titile-count {
        position: absolute;
        font-size:.7rem;
        right: 50%;
        top: 11%;
    }
    .pie-titile {
        position: absolute;
        font-size: .9rem;
        left: 5%;
        top: 2%;
      
    }
    .chart-titile-right-origin {
        position: absolute;
        right: 20px;
        top: 40px;
        font-size: .7rem;
    }
</style>
<div class="card card-body">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="dx-viewport">
                <div class="demo-container">
                    <div id="chart-demo">
                        <p class="pie-titile">Open Cases Priority</p>
                        <p class="chart-titile-count">Record Count</p>
                        <p class="chart-titile-right">Priority</p>
                        <div id="pie"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="dx-viewport">
                <div class="demo-container">
                    <div id="chart-demo">
                        <p class="pie-titile">New Open Cases This Year by Channel</p>
                        <p class="chart-titile-count">Record Count</p>
                        <p class="chart-titile-right-origin">Case Origin</p>
                        <div id="pie2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-md-2 mt-sm-2">
            <div class="dx-viewport">
                <div class="demo-container">
                    <div id="chart-demo">
                        <p class="pie-titile">Open Cases by Acount</p>
                        <p class="chart-titile-count">Record Count</p>
                        <div id="chart" style="position: relative !important; margin-top: -9px;" class="col-md-12"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 mt-md-2 mt-sm-2">
            <div class="dx-viewport">
                <div class="demo-container">
                    <div id="chart-demo">
                        <p class="pie-titile">Closed Case This Year by Acount</p>
                        <p class="chart-titile-count">Record Count</p>
                        <div id="chart3" style="position:relative !important;" class="col-md-12"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 mt-md-2 mt-sm-2">
            <div class="dx-viewport">
                <div class="demo-container">
                    <div id="chart-demo">
                        <p class="pie-titile">Average Resolution Time this Year(Hour)by Acount</p>
                        <p class="chart-titile-count">Record Count</p>
                        <div id="chart2" style="position:relative !important;" class="col-md-12"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 mt-md-2 mt-sm-2">
            <div class="dx-viewport">
                <div class="demo-container">
                    <div id="chart-demo">
                        <p class="pie-titile">Average Time to Close Cases</p>
                        <p class="gauge-result"></p>
                        <div id="gauge" style="position:relative !important;" class="col-md-12"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

</div>
<script src="~/Admin/ServiceCall/servicedashbord.js"></script>